<div class="main-view-wrapper">
  
  <div class="input-viewer">
    <input type="text" (keydown.enter)="populateUrls(urls.value, digCarousel)" #urls>
    <button (click)="populateUrls(urls.value, digCarousel)">View</button>
  </div>

  <dig-carousel [urls]="digUrls" [selectedUrlIndex]="0" #digCarousel>
  </dig-carousel>

  <div class="clearfix">
    <div class="form-wrapper">
      <h2>File Uploader</h2>
    </div>
    <dig-file-uploader></dig-file-uploader>
  </div>

  <div class="clearfix">
    <div class="form-wrapper">
      <h2>File List component</h2>
    </div>
    <div>
      <h5>Add urls to test file list component</h5>
      <input type="text" (keydown.enter)="populateFileList(listUrls.value)" #listUrls>
      <button (click)="populateFileList(listUrls.value)">Submit</button>
    </div>
    <dig-file-list [files]="fileListUrls"></dig-file-list>
  </div>

</div>